body{
 
    color: white;
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
 
 }

 h1{
    border-radius: 10px;
 }

 button{
    border-radius: 10px;
 }

 img{
    border-radius: 10px;
 }

 video{
    border-radius: 10px;
 }
 mark{
    border-radius: 10px;
 }